<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">

    <div class="form-container">
      <mat-form-field>      
        <input matInput placeholder="Name" #accountName>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Select" [value]="defaultChoice" #status>
          <mat-option value="active">Active</mat-option>
          <mat-option value="inactive">Inactive</mat-option>
          <mat-option value="hidden">Hidden</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    
    <button
      mat-raised-button color="primary"
      (click)="onCreateAccount(accountName.value, status.value)">
      Add Account
    </button>
  </div>
</div>

