<div class="row">
    <mat-card class="col-xs-12 col-md-8 col-md-offset-2">         
      <mat-card-content>
        <h5>{{ account.name }}</h5>
        <mat-divider></mat-divider>
        <p class="pt-25">This account is {{ account.status }}</p>
      </mat-card-content>
      <mat-card-actions style="text-align: center">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
          <mat-button-toggle (click)="onSetTo('active')">Set to 'active'</mat-button-toggle>
          <mat-button-toggle (click)="onSetTo('inactive')">Set to 'inactive'</mat-button-toggle>
          <mat-button-toggle (click)="onSetTo('unknown')">Set to 'unknown'</mat-button-toggle>
        </mat-button-toggle-group>
      </mat-card-actions>
    </mat-card>
  </div>

